body {
  font-size: 16px;
  background-color: #18344f
}

.main {
  display: grid;
  grid-gap: 15px;
  margin-top: 40px;
  grid-template-columns: 1fr;
}

#editor,
#preview {
  padding: 15px;
  border-radius: 10px;
  background-color: #c0d8d8
}

#editor {
  min-height: 300px;
}

pre,
code {
  background-color: #ffffff;
}

pre {
  padding: 10px;
}

@media(min-width: 992px) {
  .main {
    grid-template-columns: 1fr 1fr;
  }
}